<PaperForm @onSubmit={{action "registerPlayer"}} as |form|>
  <div class="layout-row">
    <form.input @label="Enter a player name" @value={{playerName}} @onChange={{action (mut playerName)}} @required={{true}} @maxlength={{30}} />
  </div>
  <div class="layout-row">
    <form.submit-button @raised={{true}} @primary={{true}} @disabled={{form.isInvalid}}>
      Create player
    </form.submit-button>
  </div>
</PaperForm>
