<PaperForm {{on "submit" this.registerPlayer}} as |form|>
    <div class="layout-row">
      {{!-- template-lint-disable no-action --}}
      <form.input @label="Enter a player name" @value={{this.playerName}} @onChange={{action (mut this.playerName)}} @required={{true}} @maxlength={{30}} />
    </div>
    <div class="layout-row">
      <form.submit-button @raised={{true}} @primary={{true}} @disabled={{form.isInvalid}}>
        Create Player
      </form.submit-button>
    </div>
  </PaperForm>
