<h3>Select two Players to Play Tic Tac Toe</h3>

<select {{on "change" this.xPlayerUpdate}}>
  <option value="" selected="selected" hidden="hidden">Choose Player X</option>
  {{#each this.players as |player|}}
    <option value="{{player.id}}">{{player.name}}</option>
  {{/each}}
</select>

{{!-- I tried unless for selectbox options for preventing identical selection but it didn't work --}}

<select {{on "change" this.oPlayerUpdate}}>
  <option value="" selected="selected" hidden="hidden">Choose Player O</option>
  {{#each this.players as |player|}}
    <option value="{{player.id}}">{{player.name}}</option>
  {{/each}}
</select>


<LinkTo @route="board.play" @query={{hash xPlayerID=this.xPlayerID oPlayerID=this.oPlayerID}}>Proceed to Tic Tac Toe</LinkTo>
