<h3>Select two Players to Play Tic Tac Toe</h3>

<select onchange={{action "xPlayerUpdate"}}>
  <option value="" selected="selected" hidden="hidden">Choose Player X</option>
  {{#each players as |player|}}
    <option value="{{player.id}}">{{player.name}}</option>
  {{/each}}
</select>

{{!-- I tried unless for selectbox options for preventing identical selection but it didn't work --}}

<select onchange={{action "oPlayerUpdate"}}>
  <option value="" selected="selected" hidden="hidden">Choose Player O</option>
  {{#each players as |player|}}
    <option value="{{player.id}}">{{player.name}}</option>
  {{/each}}
</select>


<LinkTo @route="board.play" @query={{hash xPlayer=this.xPlayer oPlayer=this.oPlayer}}>Proceed to Tic Tac Toe</LinkTo>
