{{!-- template-lint-disable no-html-comments --}}
<!-- players -->
<div class="flexboxContainer">
  <div class="flexboxItem-left"><h3>X Player: {{xPlayer.name}}</h3></div>
  <div class="flexboxItem-center m-auto"><h4>PLAYER X WINS! {{player}}</h4></div>
  <div class="flexboxItem-right"><h3>O Player: {{oPlayer.name}}</h3></div>
</div>
<!-- board and form -->
<div class="flexboxContainer">
  <div class="flexboxItem-left"></div>
  <div class="flexboxItem m-auto">
    
    <section class="board">
      {{#each this.boardData as |row rowIndex|}}
        <div class="row{{rowIndex}}">
          {{#each row as |cell colIndex|}}
            <div class="cell c{{rowIndex}}{{colIndex}}" {{action this.cellClick rowIndex colIndex}}>
              {{#if (eq cell 1)}}
                X
              {{else if (eq cell -1)}}
                O
              {{else}}{{/if}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </section>

  </div>
  <div class="flexboxItem-right"></div>
</div>
